#background
{
    background-image: url(./bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

#cover
{
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
}